{% extends "base.html" %}
{% block body_class %}location-bg{% endblock %}
{% block content %}
{% load static %}

<!-- location.html content starts here -->
<section class="page-section cta">
    <h2 hidden>Restaurant Location</h2>
    <div class="cta-inner bg-faded text-center rounded">
        <h2 class="section-heading mb-4">
            <span class="section-heading-upper">Here's where to find us</span>
            <span class="section-heading-lower">
                Sarap Talaga RestoBar, 123 Fake Street,Dublin 8
            </span>
        </h2>
        <div id="google-map">
        </div>
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner bg-faded text-center rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-lower">
                            Opening Hours
                        </span>
                    </h2>
                    <ul class="list-unstyled list-hours mb-5 text-left mx-auto">
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Sunday
                            <span class="ms-auto">14:00 - 23:00</span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Monday
                            <span class="ms-auto">12:00 - 21:00</span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Tuesday
                            <span class="ms-auto">12:00 - 21:00</span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Wednesday
                            <span class="ms-auto">12:00 - 21:00</span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Thursday
                            <span class="ms-auto">12:00 - 21:00</span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Friday
                            <span class="ms-auto">14:00 - 23:00</span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Saturday
                            <span class="ms-auto">14:00 - 23:00</span>
                        </li>
                    </ul>
                    <div>
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-lower">
                                Contact Information
                            </span>
                        </h2>
                        <p class="mb-0">
                            Tel: +000 123 456 7890
                            <br>
                            Email: sarap@gmail.com
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<!-- Menu / book table reminder-->
<section class="page-section cta">
    <div class="cta-inner bg-faded text-center rounded">
        <h2 class="section-heading mb-4">
            <span class="section-heading-lower">Sarap and comfort are just around the corner.</span>
        </h2>
        <div class="d-flex flex-wrap justify-content-center gap-3">

            <div class="btn-toolbar d-flex justify-content-around" role="toolbar"
                aria-label="Toolbar with button groups">

                <div class="btn-group me-2 " role="group" aria-label="First group">
                    <div class="intro-button mx-auto">
                        <a class="btn btn-primary btn-xl" href="{% url 'book' %}">
                            Book a Table
                        </a>
                    </div>
                </div>

                <div class="btn-group me-2" role="group" aria-label="Second group">
                    <div class="intro-button mx-auto"><a class="btn btn-primary btn-xl"
                            href="{% url 'menu' %}">Menus</a>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>

{% block scripts %}
<script defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCs8GdSA1iPGM6SJrEX7Z5efD2iqkT1s6U&callback=initMap"></script>
<script src="{% static 'js/location.js' %}"></script>
{% endblock %}

<!-- location.html content ends here -->

{% endblock %}