{% extends "base.html" %}
{% block content %}
{% load static %}

<body {% block body_class %}location-bg{% endblock %}>
</body>



<!-- location.html content starts here -->
<section class="page-section cta">
    <div class="cta-inner bg-faded text-center rounded">
        <h2 class="section-heading mb-4">
            <span class="section-heading-upper">Here's where to find us</span>
            <span class="section-heading-lower">
                Sarap Talaga RestoBar, 123 Fake Street,Dublin 8
            </span>
        </h2>
        <div id="google-map">
        </div>

    </div>
</section>



<!-- Menu / book table reminder-->
<section class="page-section cta">
    <div class="cta-inner bg-faded text-center rounded">
        <h2 class="section-heading mb-4">
            <span class="section-heading-lower">We're waiting to serve you!</span>
        </h2>
        <div class="row">
            <div class="col-sm">
            </div>
            <div class="col-sm">
                <div class="btn-toolbar d-flex justify-content-around" role="toolbar"
                    aria-label="Toolbar with button groups">
                    <div class="btn-group me-2 " role="group" aria-label="First group">
                        <div class="intro-button mx-auto"><a class="btn btn-primary btn-xl" href="#!">Book a
                                Table</a>
                        </div>
                    </div>
                    <div class="btn-group me-2" role="group" aria-label="Second group">
                        <div class="intro-button mx-auto"><a class="btn btn-primary btn-xl" href="#!">Menus</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm">
            </div>
        </div>
    </div>
</section>

{% block scripts %}
<script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCs8GdSA1iPGM6SJrEX7Z5efD2iqkT1s6U&callback=initMap""></script>
<script src=" {% static 'js/location.js' %}"></script>
{% endblock %}

<!-- location.html content ends here -->

{% endblock %}