{% extends "base.html" %}
{% load static %}
{% block body_class %}index-bg{% endblock %}

{% block content %}

<!-- index.html content starts here -->

<!--Menus-->

<div class="cta-inner bg-faded text-center rounded">
    <h2 class="section-heading mb-4">
        <span class="section-heading-lower">Menus</span>
    </h2>

    <div class="row row-cols-1 row-cols-md-3 g-4">

        <div class="col">
            <a class="thumbnail" href="#">
                <div class="h-100">
                    <img src="https://images.pexels.com/photos/6646369/pexels-photo-6646369.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                        class="card-img-top rounded-circle img-thumbnail" alt="...">
                    <div class="card-body p-3">
                        <h3 class="card-title section-heading mb-4">Lunch</h3>
                    </div>
                </div>
            </a>
        </div>

        <div class="col">
            <a class="thumbnail" href="#">
                <div class="h-100">
                    <img src="https://images.pexels.com/photos/6645977/pexels-photo-6645977.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                        class="card-img-top rounded-circle img-thumbnail" alt="...">
                    <div class="card-body">
                        <h3 class="card-title section-heading mb-4">Dinner</h3>
                    </div>
                </div>
            </a>
        </div>

        <div class="col">
            <a class="thumbnail" href="#">
                <div class="h-100">
                    <img src="https://images.pexels.com/photos/1283219/pexels-photo-1283219.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                        class="card-img-top rounded-circle img-thumbnail" alt="...">
                    <div class="card-body">
                        <h3 class="card-title section-heading mb-4">Drinks</h3>
                    </div>
                </div>
            </a>
        </div>

    </div>
</div>

<!--Link to welcome blog-->

{% for post in post_list %}
<section class="page-section cta">
    <div class="container">
        <div class="row">

            <section class="page-section clearfix">
                <div class="container">
                    <div class="intro">
                        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded"
                            src="{% static 'assets\img\pexels-stijn-dijkstra-philippine-outdoors-with-bangka.jpg' %}"
                            alt="..." />
                        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                            <h2 class="section-heading mb-4">
                                <span class="section-heading-upper">{{ post.title }}</span>
                            </h2>
                            <p class="mb-3">{{ post.excerpt }}</p>
                            <div class="intro-button mx-auto"><a class="btn btn-primary btn-xl"
                                    href="{% url 'about' %}">About us</a></div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>
{% endfor %}

    <!-- Menu / book table reminder-->
    <section class="page-section cta">
        <div class="cta-inner bg-faded text-center rounded">
            <h2 class="section-heading mb-4">
                <span class="section-heading-lower">Would you like to see our menus or book a table?</span>
            </h2>
            <div class="row">
                <div class="col-sm">
                </div>
                <div class="col-sm">
                    <div class="btn-toolbar d-flex justify-content-around" role="toolbar"
                        aria-label="Toolbar with button groups">
                        <div class="btn-group me-2 " role="group" aria-label="First group">
                            <div class="intro-button mx-auto"><a class="btn btn-primary btn-xl" href="#!">Book a
                                    Table</a>
                            </div>
                        </div>
                        <div class="btn-group me-2" role="group" aria-label="Second group">
                            <div class="intro-button mx-auto"><a class="btn btn-primary btn-xl" href="#!">Menus</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                </div>
            </div>
        </div>
    </section>

    <!-- index.html content ends here -->

    {% endblock %}