{% extends "base.html" %}
{% block content %}
{% load static %}

<!-- menu.html content starts here -->

<!--Menus-->

<div class="intro-text left-0 text-center bg-faded p-5 rounded">
    <h2 class="section-heading mb-4">
        <span class="section-heading-upper">Taste authentic Filipino food</span>
        <span class="section-heading-lower">Menus</span>
    </h2>

    <div class="row row-cols-1 row-cols-md-3 g-4">

        <div class="col">
            <a class="thumbnail" href="#">
                <div class="h-100">
                    <img src="https://images.pexels.com/photos/6646369/pexels-photo-6646369.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                        class="card-img-top rounded-circle img-thumbnail" alt="...">
                    <div class="card-body p-3">
                        <h3 class="card-title section-heading mb-4">Lunch</h3>
                    </div>
                </div>
            </a>
        </div>

        <div class="col">
            <a class="thumbnail" href="#">
                <div class="h-100">
                    <img src="https://images.pexels.com/photos/6645977/pexels-photo-6645977.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                        class="card-img-top rounded-circle img-thumbnail" alt="...">
                    <div class="card-body">
                        <h3 class="card-title section-heading mb-4">Dinner</h3>
                    </div>
                </div>
            </a>
        </div>

        <div class="col">
            <a class="thumbnail" href="#">
                <div class="h-100">
                    <img src="https://images.pexels.com/photos/1283219/pexels-photo-1283219.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                        class="card-img-top rounded-circle img-thumbnail" alt="...">
                    <div class="card-body">
                        <h3 class="card-title section-heading mb-4">Drinks</h3>
                    </div>
                </div>
            </a>
        </div>

    </div>
</div>

<!-- menu.html content ends here -->

{% endblock %}