{% load static %}

{% url 'home' as home_url %}
{% url 'about' as about_url %}
{% url 'menu' as menu_url %}
{% url 'location' as location_url %}
{% url 'contact' as contact_url %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Welcome to Sarap Talaga RestoBar. Try out our authentic Filipino food" />
    <meta name="author" content="Jehdil Dizon" />

    <title>Sarap Talaga! RestoBar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Google Fonts CSS -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet" />

    <!-- Font Awesome CSS
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    Bootstrap CSS
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous"> -->

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>

    <!-- Navigation -->
    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}"><span class="brand">c<span class="red-o">o</span>de<span
                        class="thin">|star</span></span></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == home_url %}active{% endif %}" aria-current="page"
                            href="#">Home</a>
                    </li>

                </ul>
                <span class="navbar-text text-muted">
                    adventures of a software developer
                </span>
            </div>
        </div>
    </nav> -->


    <body>
        <header>
            <h1 class="site-heading text-center text-faded d-none d-lg-block">
                <span class="site-heading-upper text-primary mb-3">Sarap Talaga!</span>
                <span class="site-heading-lower">RestoBar</span>
            </h1>
        </header>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
            <div class="container">
                <a class="navbar-brand text-uppercase fw-bold d-lg-none" href="{% url 'home' %}">Sarap Talaga!</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="{% url 'home' %}">Home</a></li>
                        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="#">Table Booking</a></li>
                        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="{% url 'menu' %}">Menus</a></li>
                        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="{% url 'about' %}">About Us</a></li>
                        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="{% url 'location' %}">Location</a></li>
                        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="{% url 'contact' %}">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <!--Welcome image & links to menu & table-->


        <section class="page-section about-heading">
            <div class="container">
                <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{% static 'assets/img/about.jpg'%}" alt="...">
                <div class="about-heading-content">
                    <div class="row">
			<div class="col-sm">
    			</div>
			<div class="col-sm">
			<div class="btn-toolbar d-flex justify-content-around" role="toolbar" aria-label="Toolbar with button groups">
 			 <div class="btn-group me-2 " role="group" aria-label="First group">
				<div class="intro-button mx-auto"><a class="btn btn-primary btn-xl" href="#!">Book a Table</a></div>
  			</div>
 		 	<div class="btn-group me-2" role="group" aria-label="Second group">
				<div class="intro-button mx-auto"><a class="btn btn-primary btn-xl" href="#!">Menus</a></div>
  			</div>
			</div>
			</div>
			<div class="col-sm">
    			</div>
 		    </div>
            </div>
        </section>


        {% block content %}
        
        <!-- Page Content -->

        {% endblock content %}

        <footer class="footer text-faded text-center py-5">
            <div class="row">
                <div class="col-3 col-md-3 mb-3">
                    <h5>Contact Us</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2">Tel: +000 123 456 7890</li>
                        <li class="nav-item mb-2">Email: sarap@gmail.com</li>
                        <li class="nav-item mb-2">
                            123 Fake Street,<br>
                            Dublin 8,<br>
                            D08 ABCD,<br>
                            Ireland<br></li>
                    </ul>
                </div>
        
                <div class="col-3 col-md-2 mb-3">
                    <h5>Information</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About Us</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Book Table</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Menus</a></li>
                    </ul>
                </div>
        
                <div class="col-3 col-md-3 mb-3">
                    <h5>Opening Hours</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2">
                            Monday to Thursday<br>
                            12:00 - 21:00
                        </li>
                        <li class="nav-item mb-2">
                            Friday to Sunday<br>
                            14:00 - 23:00
                        </li>
                    </ul>
                </div>
        
        
                <div class="col-3 col-md-4 mb-3">
                    <h5>Socials</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FACEBOOK</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">INSTAGRAM</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">TWITTER</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">TRIPADVISOR</a></li>
                    </ul>
                </div>
        
            </div>
            <div class="container">
                <p class="m-0 small">Copyright &copy; Your Website 2023</p>
            </div>
        </footer>


        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'js/scripts.js' %}"></script>
    </body>
</html>