{% extends "base.html" %}
{% block content %}
{% if post %}
{% load static %}

<body {% block body_class %}about-bg{% endblock %}>
    
</body>



<!-- about.html content starts here -->
<section class="page-section cta">
    <section class="page-section about-heading">
        <div class="container">
            <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{% static 'assets\img\pexels-stijn-dijkstra-philippine-outdoors-with-bangka.jpg' %}"
                alt="..." />
            <div class="about-heading-content">
                <div class="row">
                    <div class="col-xl-9 col-lg-10 mx-auto">
                        <div class="bg-faded rounded p-5">
                            <h2 class="section-heading mb-4">
                                <span class="section-heading-upper">{{ post.title }}</span>
                                <span class="section-heading-lower">{{ post.title }}</span>
                            </h2>
                            <p>{{ post.content | safe }}</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
</section>

<!-- Gallery -->
<div class="row">
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
      <img
        src="{% static 'assets\img\pexels-kim-villanueva-baguiofestival.jpg' %}"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Baguio Festival"
      />
  
      <img
      src="{% static 'assets\img\pexels-muffin-metromanila.jpg' %}"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Metropolitan Manila"
      />

      
    </div>
  
    <div class="col-lg-4 mb-4 mb-lg-0">
      <img
      src="{% static 'assets\img\pexels-kharlitos-traddance.jpg' %}"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Traddance"
      />
  
      <img
      src="{% static 'assets\img\pexels-chiecharon-bicol.jpg' %}"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Bicol"
      />
    </div>
  
    <div class="col-lg-4 mb-4 mb-lg-0">
        <img
        src="{% static 'assets\img\manilaroad.jpg' %}"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Manila Road"
      />
  
      <img
      src="{% static 'assets\img\bangka.jpg' %}"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Bangka (Tradional Boat)"
      />
    </div>
  </div>
  <!-- Gallery -->

<!-- about.html content ends here -->

{% endif %}
{% endblock %}