{% extends "base.html" %}
{% block body_class %}about-bg{% endblock %}
{% block content %}
{% if posts %}
{% load static %}


<section class="page-section cta">
  <h2 hidden>Blog section</h2>
<!-- Blog Section 1 -->
{% if posts|length > 2 %}
<section class="page-section">
  <div class="container">
    <div class="product-item">
      <div class="product-item-title d-flex">
        <div class="bg-faded p-5 d-flex ms-auto rounded">
          <h2 class="section-heading mb-0">
            <span class="section-heading-lower">{{ posts.2.title }}</span>
          </h2>
        </div>
      </div>
      <img class="product-item-img mx-auto d-flex rounded menu-img" src="{% static 'assets\img\bagac.jpg' %}" alt="image of bagac old town">
      <div class="product-item-description d-flex me-auto">
        <div class="bg-faded p-5 rounded">
          <p class="mb-0">{{ posts.2.content|safe }}
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}

<!-- Blog Section 2 -->
{% if posts|length > 1 %}
<section class="page-section">
  <div class="container">
    <div class="product-item">
      <div class="product-item-title d-flex">
        <div class="bg-faded p-5 d-flex me-auto rounded">
          <h2 class="section-heading mb-0">
            <span class="section-heading-lower">{{ posts.1.title }}</span>
          </h2>
        </div>
      </div>
      <img class="product-item-img mx-auto d-flex rounded menu-img" src="{% static 'assets/img/ruins_with_volcano.jpg' %}" alt="Old church ruins with Volcano in the background">
      <div class="product-item-description d-flex ms-auto">
        <div class="bg-faded p-5 rounded">
          <p class="mb-0">{{ posts.1.content|safe }}
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}

<!-- Blog Section 3 -->
{% if posts|length > 0 %}
<section class="page-section">
  <div class="container">
    <div class="product-item">
      <div class="product-item-title d-flex">
        <div class="bg-faded p-5 d-flex ms-auto rounded">
          <h2 class="section-heading mb-0">
            <span class="section-heading-lower">{{ posts.0.title }}</span>
          </h2>
        </div>
      </div>
      <img class="product-item-img mx-auto d-flex rounded menu-img" src="{% static 'assets/img/kamayan.jpg' %}" alt="kamayan-style presentation of filipino food on top of banana leaves">
      <div class="product-item-description d-flex me-auto">
        <div class="bg-faded p-5 rounded">
          <p class="mb-0">{{ posts.0.content|safe }}
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}

</section>

<!-- Gallery -->
<div class="row">
  <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
    <img src="{% static 'assets\img\pexels-kim-villanueva-baguiofestival.jpg' %}"
      class="w-100 shadow-1-strong rounded mb-4" alt="Baguio Festival">

    <img src="{% static 'assets\img\pexels-muffin-metromanila.jpg' %}" class="w-100 shadow-1-strong rounded mb-4"
      alt="Metropolitan Manila">


  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">
    <img src="{% static 'assets\img\pexels-kharlitos-traddance.jpg' %}" class="w-100 shadow-1-strong rounded mb-4"
      alt="Traddance">

    <img src="{% static 'assets\img\pexels-chiecharon-bicol.jpg' %}" class="w-100 shadow-1-strong rounded mb-4"
      alt="Bicol">
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">
    <img src="{% static 'assets\img\manilaroad.jpg' %}" class="w-100 shadow-1-strong rounded mb-4" alt="Manila Road">

    <img src="{% static 'assets\img\bangka.jpg' %}" class="w-100 shadow-1-strong rounded mb-4"
      alt="Bangka (Tradional Boat)">
  </div>
</div>
<!-- Gallery -->

<!-- about.html content ends here -->

{% endif %}
{% endblock %}