{% extends "base.html" %}
{% block content %}
{% load static %}

<body {% block body_class %}booking-bg{% endblock %}>
</body>

<!-- book.html content starts here -->

<!--Address section with message-->
<section class="page-section cta">
    <div class="intro-text left-0 text-center bg-faded p-5 rounded">
        <div class="row">
            <div class="col-3 col-md-7 mb-3">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-lower">Can't wait to see you there!</span>
                </h2>
            </div>

            <div class="col-3 col-md-5 mb-3">
                <ul class="nav flex-column">
                    <li class="nav-item mb-2">
                        123 Fake Street, Dublin 8, D08 ABCD, Ireland</li>
                    <li class="nav-item mb-2">Tel: +000 123 456 7890</li>
                    <li class="nav-item mb-2">Email: sarap@gmail.com</li>
                </ul>
            </div>
        </div>

    </div>
</section>

<!--Book a table-->
<section class="page-section cta">
    <div class="intro-text left-0 text-center bg-faded p-5 rounded">
        <div class="row">
            <h5>Opening Hours</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2">
                    Monday to Thursday<br>
                    12:00 - 21:00
                </li>
                <li class="nav-item mb-2">
                    Friday to Sunday<br>
                    14:00 - 23:00
                </li>
            </ul>
        </div>

        <form>
            <div class="row text-start p-3">
                <div data-mdb-input-init class="form-outline">
                    <label class="form-label" for="typeNumber">Number of Guests</label>
                    <input type="number" id="typeNumber" class="form-control" />
                </div>
                <div class="form-outline" style="width: 22rem;" data-mdb-datepicker-init="" data-mdb-input-init=""
                    data-mdb-input-initialized="true" data-mdb-datepicker-initialized="true">
                    <label for="exampleDatepicker1" class="form-label" style="margin-left: 0px;">Select a date</label>
                    <input type="text" class="form-control form-icon-trailing" id="exampleDatepicker1">
                    
                    <div class="form-notch">
                        <div class="form-notch-leading" style="width: 9px;"></div>
                        <div class="form-notch-middle" style="width: 82.4px;"></div>
                        <div class="form-notch-trailing"></div>
                    </div>
                    <button id="datepicker-toggle-408596" type="button" class="datepicker-toggle-button"
                        data-mdb-toggle="datepicker">
                        <i class="far fa-calendar datepicker-toggle-icon"></i>
                    </button>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Book now </button>

        </form>
    </div>


    </div>
</section>

<!-- book.html content ends here -->

{% endblock %}